/*
Theme Name:   	Click T-Shirt Theme
Theme URI:    	https://gitlab.com/miljkovicmisa/click-tshirt-theme-storefront-child
Author:       	Miljkovic Milos, Kelly Kalouta
Author URI:     http://stuartduff.com
Template:     	storefront
Description:  	This is the main theme of click t-shirt and child theme of the Woocommerce "Storefront" Theme
Version:      	1.0.0
License:      	GNU General Public License v2 or later
License URI:  	http://www.gnu.org/licenses/gpl-2.0.html
Text Domain:  	storefront
Tags:         	black, white, light, two-columns, left-sidebar, right-sidebar, responsive-layout, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready
This theme, like WordPress, is licensed under the GPL.
Storefront is based on Underscores http://underscores.me/, (C) 2012-2014 Automattic, Inc.
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
FontAwesome License: SIL Open Font License - http://scripts.sil.org/OFL
Images License: GNU General Public License v2 or later
*/
/*
 * Add your own custom css below this text.
 */
 
 /* Footer site info and card icons */

 .site-info {
 	display: grid;
 	grid-template-columns: 1fr auto;
 }

 .site-info-payments-icons {
 	display: grid;
    grid-template-columns: repeat(5, auto);
    grid-column-gap: 5px;
    justify-content: center;
    align-items: center;
 }

  .site-info-payments-icons>li {
 	list-style: none;
 	display: block;
 }


/* fix width in the my account area specifically for the greek language so that words are not broken */

/* this fixes the navigation area of my account */
@media (min-width: 768px) {
	.woocommerce-MyAccount-navigation {
	    width: 25.647059%;
	}


/* this fixes the content area of my account */

	.woocommerce-MyAccount-content {
		width: 68.470588%;
	}

}

/* homepage content area, full */

.click-homepage-content-area {
    width: 100%;
    margin-right: 0px;
}